CONFIG_SERVER_URL=http://localhost:8888
SPRING_CLOUD_CONFIG_PROFILE=dev
INTERNAL_API_KEY=rent-a-car-internal-dev-key
APP_USER_USERNAME=app-user
APP_USER_PASSWORD=app-user-pass
APP_ADMIN_USERNAME=app-admin
APP_ADMIN_PASSWORD=app-admin-pass
APP_MODERATOR_USERNAME=app-moderator
APP_MODERATOR_PASSWORD=app-moderator-pass
ALLOWED_ORIGIN_PRIMARY=http://localhost:3000
ALLOWED_ORIGIN_GATEWAY=http://localhost:9010
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
DISCOVERY_SERVER_URL=http://localhost:8761/eureka/
INVENTORY_DB_HOST=localhost
INVENTORY_DB_PORT=5433
INVENTORY_DB_NAME=inventorydb
INVENTORY_DB_USERNAME=postgres
INVENTORY_DB_PASSWORD=postgres
MAINTENANCE_DB_HOST=localhost
MAINTENANCE_DB_PORT=3307
MAINTENANCE_DB_NAME=maintenancedb
MAINTENANCE_DB_USERNAME=mysql
MAINTENANCE_DB_PASSWORD=mysql
PAYMENT_DB_HOST=localhost
PAYMENT_DB_PORT=5434
PAYMENT_DB_NAME=paymentdb
PAYMENT_DB_USERNAME=postgres
PAYMENT_DB_PASSWORD=postgres
RENTAL_DB_HOST=localhost
RENTAL_DB_PORT=5435
RENTAL_DB_NAME=rentaldb
RENTAL_DB_USERNAME=postgres
RENTAL_DB_PASSWORD=postgres
FILTER_MONGODB_URI=mongodb://localhost:27017/filterdb
INVOICE_MONGODB_URI=mongodb://localhost:27018/invoicedb
